<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/bootstrap/css")
        @RenderSection("styles", required: false)
        @Scripts.Render("~/bootstrap/js")
        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    </head>
    <body>
        <!-- Main Wrapper -->
        <div id="wrapper">

            <!-- Top Navigation -->

                <div id="top-nav" class="skin-6 fixed">
                    <div class="brand">
                        <span>Endless</span>
                        <span class="text-toggle"> Admin</span>
                    </div><!-- /brand -->
                    <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav-notification clearfix">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>

            <!-- End of Top Navigation -->
            <!-- Sidebar Menu -->
            <aside class="fixed">
                test
            </aside>
            <!-- End of Sidebar Menu -->
            <!-- Main Container -->
            <div id="main-container">
                @RenderSection("featured", required: false)
               
                @RenderBody()
            </div>
            <!-- End of Main Container -->
            <!-- Footer -->
            <footer>

            </footer>
                <!-- End of Footer -->
        </div>
        <!-- End of Main Wrapper -->

        
        @Scripts.Render("~/libraries")
        @RenderSection("scripts", required: false)
    </body>
</html>
