@model dynamic

@{
    ViewBag.Title = "title";

}

<h2>title</h2>

<strong>@Html.ActionLink("Positions", "Positions", routeValues: null)</strong>
<br />
<strong>@Html.ActionLink("Athletes", "Athletes", routeValues: null)</strong>
<br />
<strong>@Html.ActionLink("Athletic Teams", "AthleticTeams", routeValues: null)</strong>
<br />
<strong>@Html.ActionLink("Users", "Users", routeValues: null)</strong>
<br />
<strong>@Html.ActionLink("Settings", "Settings", routeValues: null)</strong>
<br />
<strong>@Html.ActionLink("League Settings", "LeagueSettings", routeValues: null)</strong>